body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-position: right top;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 200px;
}
